# Credenciais do Studio — João Gobira
# Arquivo separado do .env para evitar conflito com ferramentas externas

CLOUDINARY_CLOUD_NAME=diiizz8zg
CLOUDINARY_API_KEY=424679594898974
CLOUDINARY_API_SECRET=IV9Wudga_B8AAXbglsTUOoo2g4s

IG_ACCESS_TOKEN=IGAAVgrPMqNUpBZAFpSdGZAMcHVmd21hYXJJUzFVa2FidFFYQ0JnOVc3bkpvMHRmMnUxT3FtQlcyZAXZAXQWFlVkFSaWZAWNUVLM0V0cWU1ZAkVQV0NobUF2NzVRYkEzWnZAQWDBsNlF0RWtoOU1rTHZANblJWdUhNaUpJVWsxeEtTRnQwZAwZDZD
IG_USER_ID=17841401915115561
GEMINI_API_KEY=AIzaSyCZTqBwgSix4iap0D0UNRCJv1Ow53Px3NQ

